<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .highlight-line {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div id="page">
        <div id="editor-container">
            <textarea id="editor" name="editor">
{% if language == 'python' %}
#@foo(1,2)
#@foo(1,3)
def foo(a, b):
    t = bar(a)
    for i in range(0, 5):
        t = t + 1
    return a + b + t

#@bar(3)
#@bar(1)
def bar(x):
    r = x * 2
    return r
{% elif language == 'java' %}
public class Live{
    //@foo(1,2)
    public static int foo(int a, int b){
        return a + b;
    }
}
{% elif language == 'pyjs' %}
#@foo(1,2)
def foo(a, b):
    t = polyglotEval("js", "var x = 1; x")
    x = a + t
    for i in range(0, 5):
        t = polyglotEval("js", "x = x + 1; x")
    return a + b + t
{% elif language == 'c' %}
//@foo(1,2)
int foo(int a, int b){
    return a + b;
}
{% elif language == 'javascript' %}
//@foo(1,2)
function foo(a, b){
    return a + b;
}
{% elif language == 'go' %}
package main

import "fmt"

//@Foo(5)
func Foo(a int) int {
    b := 3
    r := b + a
    return r
}

func main() {
    result := Foo(2)
    fmt.Println(result)
}

{% endif %}
            </textarea>
            <div id="editor-resizer"></div>
        </div>
        <div id="output-container">
            <textarea id="output" name="output"></textarea>
        </div>
    </div>
    <div id="execution-status">
        <div id="execution-spinner" class="preloader-wrapper small active" style="display: none;">
            <div  class="spinner-layer spinner-black-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
        </div>
        <i id="agent-ready" class="material-icons green" style="display: none;">check</i>
        <i id="agent-not-ready" class="material-icons red">close</i>
    </div>
    
</body>
<script>
    var language = "{{ language }}";
    var session_id = "{{ session_id }}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js" integrity="sha512-sSWQXoxIkE0G4/xqLngx5C53oOZCgFRxWE79CvMX2X0IKx14W3j9Dpz/2MpRh58xb2W/h+Y4WAHJQA0qMMuxJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js" integrity="sha512-x8RaqBHf5czJURmaGWqoI3DULFVYrC/GNPfk2iqL5wTCdEX8rlfQw2aHpuZhaEVuMJu1X654forBDVuahLivtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.1.0/diff.min.js" integrity="sha512-vco9RAxEuv4PQ+iTQyuKElwoUOcsVdp+WgU6Lgo82ASpDfF7vI66LlWz+CZc2lMdn52tjjLOuHvy8BQJFp8a1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/python/python.min.js" integrity="sha512-Vs2GKxnxnTQBRW7o2xXZ9A28njjmu5RToS42efiKNEWmikov0inZY522EtGVK5CcVo0M/FQwmXsTfl9skgRnvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/go/go.min.js"></script>
<script src="{{ url_for('static', filename='live.js') }}"></script>
<script src="{{ url_for('static', filename='bret.js') }}"></script>
<script src="{{ url_for('static', filename='resize.js') }}"></script>
</html>




