<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Demo of Stack Recording</title>
    </head>
    <body>
        <!-- link to in a sub category /dap/python, dap/c, dap/java-->
        <h3>Go to Bret Victor Style editor</h3>
        <ul>
            <li><a href="/dap/python">Python</a></li>
            <li><a href="/dap/c">C</a></li>
            <li><a href="/dap/java">Java</a></li>
            <li><a href="/dap/javascript">Javascript</a></li>
            <li><a href="/dap/go">Go</a></li>
            <li><a href="/dap/pyjs">PyJS</a></li>
        </ul>
        <h3>Go to Stack Viewer</h3>
        <ul>
            <li><a href="/stack/python">Python</a></li>
            <li><a href="/stack/c">C</a></li>
            <li><a href="/stack/java">Java</a></li>
            <li><a href="/stack/javascript">Javascript</a></li>
            <li><a href="/stack/pyjs">PyJS</a></li>
        </ul>
        <h3>Advanced Agents</h3>
        <ul>
            <li><a href="/advanced_python">Advanced Python</a></li>
        </ul>
    </body>
</html>